.Dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.DialogsItems {
  padding: 10px;
}

.active {
  background-color: #fff0c0;
  color: black;
}

.Dialog {
  text-decoration: none;
  color: black;
}

.Dialog a {
  text-decoration: none;
}

.Messages {
  padding: 10px;
}

.Message {;

}